<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./test/bootstrap.php">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <logging>
        <testdoxXml outputFile="coverage.xml"/>
    </logging>
</phpunit>