<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">test</directory>
        </exclude>
    </coverage>
    <logging>
        <testdoxXml outputFile="coverage.xml"/>
    </logging>
</phpunit>